<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>0512</display-name>
  
  
  <servlet>
  	<servlet-name>MessageServlet</servlet-name>
  	<servlet-class>com.javasoft.libs.controllers.MessageControllers</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MessageServlet</servlet-name>
  	<url-pattern>/servlets/servlet/Message.do</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
  	<servlet-name>ControllerURI</servlet-name>
  	<servlet-class>com.javasoft.libs.controllers.URIController</servlet-class>
  	<init-param>
  		<param-name>FILE</param-name>
  		<param-value>/WEB-INF/uriInfo.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  	<servlet-name>ControllerURI1</servlet-name>
  	<servlet-class>com.javasoft.libs.controllers.CommandController</servlet-class>
  	<init-param>
  		<param-name>FILE</param-name>
  		<param-value>/WEB-INF/command.properties</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerURI1</servlet-name>
  	<url-pattern>/servlets/servlet/MessageProcess</url-pattern>
  </servlet-mapping>
</web-app>