<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<properties resource="dbinfo.properties"/>
	<typeAliases>
		<typeAlias type="com.javasoft.libs.models.EmployeeDTO" alias="Employee"/>
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${DBDRIVER}"/>
				<property name="url" value="${DBURL}"/>
				<property name="username" value="${DBUSER}"/>
				<property name="password" value="${DBPWD}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/javasoft/libs/models/Employee.xml"/>
	</mappers>
</configuration>